<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>aiva</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header class="header-dark" style="padding-bottom: 0;margin-bottom: 12px;">
        <nav class="navbar navbar-dark navbar-expand-lg d-flex justify-content-center align-items-center align-content-center mx-auto navigation-clean-search">
            <div class="container"><a class="navbar-brand d-flex justify-content-center align-items-center align-content-center mx-auto" href="#">AIVA</a></div>
        </nav>
        <div class="container hero" style="margin-top: 0;padding: 1px;">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center" style="font-size: 38px;margin-bottom: 30px;">Корзина</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-4"><img class="img-fluid" src="assets/img/star-sky.jpg" style="margin-bottom: 12px;">
                <p><button class="btn-close"></button>&nbsp;Удалить</p>
            </div>
            <div class="col-8">
                <p class="lead" style="margin-bottom: 0;">Том-ям амогус пеперобус</p>
                <p style="margin-bottom: 0;">Количество: 11</p>
                <div class="btn-group d-flex justify-content-end" role="group"><button class="btn btn-primary" type="button" style="background: var(--bs-green);">+</button><button class="btn btn-primary" type="button" style="background: var(--bs-red);">-</button></div>
                <p class="fw-bold text-end">₽ 286.55<br></p>
            </div>
        </div>
    </div>
    <p style="text-align: center;margin-bottom: 0px;">Укажите адрес доставки:&nbsp;<input type="text" name="address" style="margin-bottom: 22px;"></p>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><button class="btn btn-primary d-flex mx-auto" type="button">Заказать</button></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>